<!-- poniendo el pipe upercase, asi el nombre aparece en mayuscula -->
<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
        <br><br>
        <!-- Un link que me regrese a la pantalla de heroes -->
        <a [routerLink] = "['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <!-- debe ponerse una imagen dependiendo de si el heroe es de la casa de marvel o dc -->
            <img *ngIf="heroe.casa=='Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="">
            <img *ngIf="heroe.casa=='DC'" class="img-logo" src="assets/img/dc.png" alt="">
        </div>
    </div>
</div>